
@media only screen and (min-width: 0px) and (max-width: 769px) {
    .small-hidden {
        display: none;
    }
    .modal-special {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 10rem;
        width: auto;
        text-align: center;
    }
}